<div style="font-size: 30px;background-color: #062a4e; border-color: #062a4e;">
  <ul class="navbar-nav sidebar sidebar-light accordion dark-mode" id="accordionSidebar">
    <a class="sidebar-brand d-flex align-items-center justify-content-center text-light" href="/DettesReelUF"
      style="background-color: #062a4e; border-color: #062a4e;">
      <div class="sidebar-brand-icon">
        <img src="/admin/img/logo/menu.jpg" />
      </div>
      <div class="sidebar-brand-text mx-3" style="font-size: 17px; color: #f8f9fa;">
        User-Dette
      </div>
    </a>



    <li class="nav-item">
      <div class="dropdown show">
        <a onmouseover="this.style.backgroundColor='#007bff';" onmouseout="this.style.backgroundColor='#062a4e';"
          id="modifyButton" href="#" class="nav-link" href="#" role="button" id="dropdownMenuLinkDettes"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-fw fa-handshake text-gray-100" style="font-size: 23px"></i>
          <span style="font-size: 15px">Financement</span>
        </a>

        <div style="width: 220px;" class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <a onmouseover="this.style.backgroundColor='#007bff';" onmouseout="this.style.backgroundColor='#343a40';"
            style="font-size:large;" class="dropdown-item" href="/DettesReelUF">réel</a>
          <a onmouseover="this.style.backgroundColor='#007bff';" onmouseout="this.style.backgroundColor='#343a40';"
            style="font-size:large;" class="dropdown-item" href="/DettesReelUF">prévu</a>
        </div>
      </div>
    </li>



    



    
  </ul>

</div>
