<footer style="background-color: #000000; border-color: #000000;" class="sticky-footer" >
  <div class="container my-auto" >
    <div class="copyright text-center my-auto text-gray-100">
      <span>
        Copyright 2022 &copy; FinancePulse.com
        <span>
          <script>
            document.write(new Date().getFullYear());
          </script>
          - |
        </span>
        Theme designed and developed by
        <b><a style="color: #0f7deb;" href="#">FinancePulse</a> </b>
      </span>
    </div>
  </div>
</footer>

