<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link href="admin/img/logo/tableau_de_bord.jpeg" rel="icon">
  <title>Tableau de bord admin back-office</title>
  <link href="admin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="admin/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="admin/css/ruang-admin.min.css" rel="stylesheet">
  <link href="admin/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
  <link rel="stylesheet" href="admin/css/styleAdminBO.css">

  <style>
    .dark-mode {
      background-color: #062a4e !important;
      /* Couleur de fond sombre */
      color: #ffffff !important;
      /* Couleur du texte clair */
    }
  
    .dark-mode .sidebar-brand-text {
      color: #ffffff !important;
      /* Couleur du texte clair pour le nom du brand */
    }
  
    .dark-mode .nav-link {
      color: #ffffff !important;
      /* Couleur du texte clair pour les liens */
    }
  
    .dark-mode .dropdown-menu {
      background-color: #343a40 !important;
      /* Couleur de fond sombre pour le menu déroulant */
      color: #ffffff !important;
      /* Couleur du texte clair pour le menu déroulant */
    }
  
    .dark-mode .dropdown-item {
      color: #ffffff !important;
      /* Couleur du texte clair pour les items du menu déroulant */
    }
  
    .dark-mode .sidebar-divider {
      border-color: rgba(255, 255, 255, 0.15) !important;
      /* Couleur de la ligne de séparation */
    }



    
  </style>



</head>

<body id="page-top">
  <div id="wrapper">