<div style="font-size: 30px;background-color: #062a4e; border-color: #062a4e;">
  <ul class="navbar-nav sidebar sidebar-light accordion dark-mode" id="accordionSidebar">
    <a class="sidebar-brand d-flex align-items-center justify-content-center text-light" href="/depensesReelUD"
      style="background-color: #062a4e; border-color: #062a4e;">
      <div class="sidebar-brand-icon">
        <img src="/admin/img/logo/menu.jpg" />
      </div>
      <div class="sidebar-brand-text mx-3" style="font-size: 16px; color: #f8f9fa;">
        User-dépense
      </div>
    </a>





    <li class="nav-item">
      <div class="dropdown show">
        <a onmouseover="this.style.backgroundColor='#007bff';" onmouseout="this.style.backgroundColor='#062a4e';"
          id="dropdownMenuLinkCredits" href="#" class="nav-link" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-fw fa-credit-card text-gray-100" style="font-size: 23px"></i>
          <span style="font-size: 15px">Crédits</span>
        </a>
        <div style="width: 220px;" class="dropdown-menu" aria-labelledby="dropdownMenuLinkCredits">
          <a onmouseover="this.style.backgroundColor='#007bff';" onmouseout="this.style.backgroundColor='#343a40';"
            style="font-size: large;" class="dropdown-item" href="/CreditsReelUD">réel</a>
          <a onmouseover="this.style.backgroundColor='#007bff';" onmouseout="this.style.backgroundColor='#343a40';"
            style="font-size: large;" class="dropdown-item" href="/CreditsPrevuUD">prévu</a>
        </div>
      </div>
    </li>



    <li class="nav-item">
      <div class="dropdown show">
        <a onmouseover="this.style.backgroundColor='#007bff';" onmouseout="this.style.backgroundColor='#062a4e';"
          id="modifyButton" href="#" class="nav-link" href="#" role="button" id="dropdownMenuLinkDepenses"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-fw fa-coins text-gray-100" style="font-size: 23px"></i>
          <span style="font-size: 15px">Dépenses</span>
        </a>

        <div style="width: 220px;" class="dropdown-menu" aria-labelledby="dropdownMenuLinkDepenses">
          <a onmouseover="this.style.backgroundColor='#007bff';" onmouseout="this.style.backgroundColor='#343a40';"
            style="font-size:large;" class="dropdown-item" href="/depensesReelUD">réel</a>
          <a onmouseover="this.style.backgroundColor='#007bff';" onmouseout="this.style.backgroundColor='#343a40';"
            style="font-size:large;" class="dropdown-item" href="/depensesPrevuUD">prévu</a>
        </div>
      </div>
    </li>



    



    
  </ul>

</div>
